<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="default" connectionString="Data Source=datadb.appserver;Initial Catalog=h5.pay;User ID=dataaccess;Password=dataaccess@helloworld;" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <system.web>
          <customErrors mode="Off"/>

    <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
